<contact-list *ngIf="!signIn">
</contact-list>
<div class="container" *ngIf = "signIn">
	<div class="row">
		
		<div class="col-md-6">
			<h1 class="form-signin-heading">Sign in</h1>
			<p class="lead">Sign in for Therapists</p>
			
			<form (submit)="login()">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="name" class="form-control" name="name" placeholder="Enter name" [(ngModel)] = therapist.name>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)] = therapist.hash>
				</div>
				<button type="submit" class="btn btn-warning">Sign in</button>
			</form>
		</div>
	</div>
</div>