<p>
 {{test}}
 {{testConfirm}}
</p>
<button class="btn btn-warning" (click)="testMethod()">Click to test change</button>
<button class="btn btn-warning" (click)="updateGraph()">Create Current graph</button>

 <div class="dropdown">
  <button class="btn btn-warning">Graph Type</button>
  <div class="dropdown-content">
    <a (click)="updateGraphType('bar')">Bar</a>
    <a (click)="updateGraphType('line')">Line</a>
    <a (click)="updateGraphType('pie')">Pie</a>
    <a (click)="updateGraphType('radial')">Radial</a>
  </div>
</div> 

<canvas id="myChart" width="400" height="400"></canvas>

