<button class="btn btn-warning" (click)="testMethod()">Click to test change</button>
<button class="btn btn-warning" (click)="updateGraph()">Create Current graph</button>

 <div class="dropdown">
  <button class="btn btn-warning">Graph Type</button>
  <div class="dropdown-content">
    <button class="btn" (click)="updateGraphType('bar')">Bar</button>
    <button class="btn" (click)="updateGraphType('line')">Line</button>
    <button class="btn" (click)="updateGraphType('pie')">Pie</button>
    <button class="btn" (click)="updateGraphType('bubble')">Bubble</button>
    <button class="btn" (click)="updateGraphType('scatter')">Scatter</button>
  </div>
</div> 

<canvas id="myChart" width="400" height="400"></canvas>

